body{
    background-color: white;
    
}



.header{
    color: black;
    font-style: italic;
    

}
.header2{
    color: brown;
    font-weight: bold;
    font-size: 35px;
    margin-left: 10%;
    

}

.header2 img{
    border-radius: 500px;
    width: 500px;
    margin-left: 15%;
    border-style: none;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 55%;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}
nav ul li a{
    color: #000;
    font-size: 40px;
    text-decoration: none;
    
}
nav ul li a:hover{
    color: red
}
#about{
    
    padding: 200px 0;
    min-height: 10px;
}
#about .container .row img{
    width: 45%;
    border-radius: 20%;
    height: 200%;
    margin-left: 10%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about .container .row h1{
    
    color: black;
    font-size: 50 px;
}
.about-col-1{
    flex-basis: 35%;
    
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-size: 20px;
}
.container2{
    font-size: 350%;
    display: flex;
    
    
}
.html5{
    font-size: 100%;
    margin-right: 30%;
}
.css3{
    font-size: 100%;
    margin-top: 30%;
    margin-right: 35%;
}
.js{
    font-size: 100%;
    margin-right: 30%;

}
.header3{
    font-size: larger;
}
.header3 p{
    font-style: italic;
    font-weight: lighter;
}
.cont{
    padding: 20%;
}
.cont row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}